<div class="row">
  <div class="large-12 columns">
    <% if current_user.first_name? %>
    <h1>Welcome back, <%= current_user.first_name %>!</h1>
    <% else %>
    <h1>Welcome back!</h1>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Newest Members</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>City</th>
          <th>Category</th>
          <th>Join Date</th>
        </tr>
      </thead>
    <% @newest.each do |m| %>
      <tbody>
        <tr>
          <td><%= link_to m.full_name, m %></td>
          <td><%= link_to m.company_name, m.website_url %></td>
          <td><%= m.city %></td>
          <td><%= m.member_cat_name %></td>
          <td><%= m.member_since.strftime('%D') %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>