<%= render 'shared/navbar' %>

<%= render 'shared/flashes'%>

<div class="row">
  <div class="large-12 columns">
<h1>Listing contacts (<%= @contacts.count %> total)</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>City</th>
      <th>Member</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.company_name %></td>
        <td><%= contact.city %></td>
        <% if contact.member? %>
          <td><i class="fa fa-check"></i></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <a href="<%= contact_path(contact) %>" class="tiny radius button split">View <span data-dropdown="drop-<%= contact.id %>"></span></a><br>
          <ul id="drop-<%= contact.id %>" class="f-dropdown" data-dropdown-content>
            <li>
              <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_contact_path(contact) %>
            </li>
            <li>
              <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, contact, method: :delete, data: {confirm: "This can't be undone. Are you sure?"}%>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
</div>
</div>